.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
  align-items: center;
  border-bottom: 1px solid #2c2a2b;
}

.sidebarChat:hover {
  background-color: #2c2a2b;
  border-bottom: 1px solid #f2ede6;
  color: #f2ede6;
}

a {
  text-decoration: none !important;
  color: #2c2a2b;
}

a:hover {
  text-decoration: none !important;
  color: #f2ede6;
}

.sidebarChat__info > h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.sidebarChat__info {
  margin-left: 20px;
}
