.loginBox {
  display: flex;
  flex-direction: column;
  margin-top: -100px;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.loginBox__button > button {
  font-size: 22px !important;
  background-color: #fff !important;
  border-radius: 50px !important;
  padding: 30px;
  color: black;
  font-family: "Sniglet";
}

.loginBox__button > button:hover {
  background-color: #ff6b6b !important;
}
.loginBox__logo > img {
  object-fit: contain;
  height: 50vh;
}
