.app {
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    to right top,
    #181c1f,
    #1c1e22,
    #202124,
    #242326,
    #282628,
    #383536,
    #484545,
    #595555,
    #7d7877,
    #a39d9a,
    #cac4bf,
    #f2ede6
  );
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #cef2d5;
  height: 95vh;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.4);
}
ul {
  padding: 0;
}
