.app {
  display: grid;
  place-items: center;
  background-color: #f2ede6;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #cef2d5;
  height: 95vh;
  width: 95vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.4);
}
ul {
  padding: 0;
}
